@import url("https://fonts.googleapis.com/css2?family=Yatra+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Wallpoet&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

body {
  animation: color-me-in 10s infinite;
  background-image: linear-gradient(
    to right,
    #290657,
    #08295a,
    #0e4775,
    #0e4775,
    #08295a,
    #290657
  );
}

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: transparent;
}

.logo {
  animation-duration: 3s !important;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  backface-visibility: visible;
  animation-name: flip;
  font-size: 30px;
  font-weight: bolder;
  width: 150px;
  text-align: center;
}

@keyframes flip {
  50% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.8);
    animation-timing-function: ease-in;
  }
  80% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(0.95);
    animation-timing-function: ease-in;
  }
  100% {
    transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);
    animation-timing-function: ease-in;
  }
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
  margin-top: -4rem;
  margin-right: 2rem;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-size: 20px;
}

.navbar-links :hover {
  color: rgb(209, 143, 209);
  transition: all 0.3s ease;
}

.toggle-button {
  position: absolute;
  top: 0.25rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  margin-top: 1.1rem;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: antiquewhite !important;
  border-radius: 10px;
}

@media (max-width: 1080px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    margin-top: 2.5rem;
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    margin-top: -2rem;
  }

  .navbar-links ul li {
    text-align: right;
  }

  .navbar-links ul li a {
    padding: 2.5rem 0.5rem;
    font-size: 2vh !important;
  }

  #roll {
    margin-right: 0.5rem !important;
    padding: 1.6rem 0.1rem;
    font-size: 2vh !important;
  }
  .navbar-links.active {
    display: flex;
  }

  .challenge {
    position: absolute;
    left: 50% !important;
    z-index: 1 !important;
    text-transform: uppercase;
    font-family: Wallpoet, sans-serif;
    color: white !important;
    text-shadow: -1px -1.5px rgb(11, 186, 240),
      1.5px 3px hsla(294, 51%, 8%, 0.904);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5vh !important;
    font-weight: bolder;
    color: rgb(194, 191, 191) !important;
  }

  .image{
    width:30vw !important;
    height: 30vh !important;
    margin-bottom: 2rem !important;
  }
}

.head {
  position: relative;
  margin-top: 2vh;
}

.main_btn {
  border: thin;
  color: yellow;
  padding: 1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  cursor: pointer;
  background-color: rgb(7, 5, 5);
  margin-left: 2vw;
  border-radius: 0.5em;
}

#roll {
  margin-top: 1.2rem;
  font-size: 2vh;
  margin-right: 2rem;
  color: yellow;
}

.challenge {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1 !important;
  text-transform: uppercase;
  font-family: Wallpoet, sans-serif;
  color: white !important;
  text-shadow: -1px -1.5px rgb(11, 186, 240),
    1.5px 3px hsla(294, 51%, 8%, 0.904);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 6vh;
  font-weight: bolder;
  color: rgb(194, 191, 191) !important;
}

.iconify {
  color: yellow;
  width: 40px;
  height: 40px;
  float: right;
  margin-top: 2rem;
  margin-right: 1vw;
}

.score {
  color: white;
  font-weight: bold;
  font-size: x-large;
  float: right;
  margin-top: 2rem;
  margin-right: 3vw;
}

.main_content {
  margin-top: 2vh;
}

.image {
  border-radius: 10px 10px 10px 10px;
  border: 7px solid rgb(31, 5, 78);
  width: 30vw;
  height: 40vh;
  position: relative;
  display: block;
  margin: 0 auto;
}
.answer {
  width: 30vw;
  padding: 10px 15px;
  background-color: white;
  /* border-radius: 15px 0px 15px 0px; */
  border-radius: 12px 12px 12px 12px;
  border-top: black;
  border-bottom: 2px solid black;
  font-size: 20px;
  font-weight: 300;
  position: relative;
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.btn1 {
  text-align: center;
  text-decoration: none;
  font-size: 2vh;
  padding: 10px;
  border-radius: 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: rgb(143, 223, 143);
  border: 2px solid rgb(129, 175, 129);
  border-radius: 8px 8px 8px 8px;
  width: 20vh;
  position: relative;
  display: block;
  margin: 0 auto;
}
.btn1:hover {
  background-color: rgb(48, 240, 48);
  color: white;
}

@media (max-width: 480px) {
  .challenge {
    /* margin-left: -0.5rem;
    margin-top: 2rem; */
    font-size: 2.3vh;
  }
}

@media (max-width: 480px) {
  .challenge {
    margin-left: -0.5rem;
    margin-top: 2rem;
    font-size: 2.3vh;
  }
  .image {
    width: 80vw !important;
  }
  .answer {
    width: 80vw;
  }
  .btn1 {
    width: 22vw;
    text-align: center;
  }
  .score {
    margin-top: 1rem;
    font-size: medium;
  }
  .iconify {
    width: 30px;
    height: 30px;
    margin-top: 1rem;
  }
}
