<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clueminati | Contact-Us</title>
   <link rel="icon" href="../image/template/logo.png" type="image/png">
  <link rel="apple-touch-icon" type="image/png" href="../image/acmlogo.png" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/contact.css">
</head>

<body>
  <nav class="navbar">
    <div>
      <a href="/" class="navbar-brand animated flip"><img src="../image/template/logo.png" alt=""></a>

    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>
    <div class="navbar-links">
      <ul>

        <li><a href="/rules" >Rules</a></li>
        <li><a href="/leaderboard" >Leaderboard</a></li>
         <li><a href="/contact"  >Contact </a></li>
        <li><a href="http://www.acmnitt.in/registration" target="_blank">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <div class="main">
   <div class="heading"> <h1>CONTACT </h1></div>
       <div class="container">
      <div class="card">
        <div class="imgBx">
          <img id = "deepeeka"
            src="../image/template/Deepeeka.jpg"
            alt=""
          />
        </div>
        <div class="content">
          <div class="contentBx">
            <h3>Deepeeka<br /><span>Batch 2023</span></h3>
          </div>
          <ul class="sci">
            <li style="--i: 1">
              <a href="mailto:Deepeekachudasama@gmail.com"><i class="fas fa-envelope" aria-hidden="true"></i></a>
            </li>
            <li style="--i: 2">
              <a href="tel:+91-8383800574"><i class="fas fa-phone" aria-hidden="true"></i></a>
            </li> 
            <li style="--i: 3">
              <a href='https://wa.me/+918383800574' target='_blank'><i class= "fab fa-whatsapp"></i></a>
            </li>             
          </ul>
        </div>
    </div>

    
    </div>
  

    <script>
      const toggleButton = document.getElementsByClassName('toggle-button')[0]
      const navbarLinks = document.getElementsByClassName('navbar-links')[0]

      toggleButton.addEventListener('click', () => {
        navbarLinks.classList.toggle('active')
      })
    </script>
</body>

</html>