<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Clueminati | Leaderboard</title>
 <link rel="icon" href="../image/template/logo.png" type="image/png">
  <link rel="stylesheet" href="../css/leaderboard.css">
    <link rel="stylesheet" href="../css/navbar.css">

</head>

<body>
  <nav class="navbar">
    <div class="logo">
      <a href="/" class="navbar-brand animated flip"><img src="../image/template/logo.png" alt=""></a>

    </div>
    <a href="#" class="toggle-button">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </a>


    <div class="navbar-links">
      <ul>
       <li><a href="/contact"  >Contact </a></li>
        <li><a href="/rules" >Rules</a></li>
        <li><a href="/leaderboard" >Leaderboard</a></li>
      </ul>
    </div>
  </nav>
  <div class="main">
    <h1 class="event-page"> LEADERBOARD  </h1>
    <center>
      <table id="players">
        <tr>
          <th>Rank</th>
          <th>Roll No</th>
          <th>Coins</th>
        </tr>
        <tbody>
          {{#each data}}
          <tr>
            <td>{{this.ranks}}</td>
            <td>{{this.rollno}}</td>
            <td>{{this.score}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
      
    </center>
  </div>

  <script>
    const toggleButton = document.getElementsByClassName('toggle-button')[0]
    const navbarLinks = document.getElementsByClassName('navbar-links')[0]

    toggleButton.addEventListener('click', () => {
      navbarLinks.classList.toggle('active')
    })
  </script>

</body>

</html>